:root {
  --acceent-color: #2196f3;
  --main-color: #212121;
  --add-color: #757575;
  --bg-cololr: #2f303a;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto";
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-position {
  display: flex;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero-btn {
  background: #2196f3;
  color: #fff;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.modal-btn {
  position: relative;
  left: 490px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  background-color: transparent;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.send-btn {
  background: #2196f3;
  color: #fff;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border: none;
  border-radius: 4px;
  padding: 10px 52px;
  margin: 0 auto;
  margin-top: 30px;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow, background;
  transition-duration: 250ms;
}

.send-btn:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #188ce8;
}

.rossete-btn {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  border: none;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  margin-left: 12px;
}

.product__filter-btn {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border: none;
  background-color: #f5f4fa;
  padding: 6px 25px;
  transition-property: cusror, color, background, border-radius, border-style, padding;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover {
  border-radius: 4px;
  padding: 6px 25px;
  border-style: none;
  background: #2196f3;
  color: #fff;
  cursor: pointer;
}

.hero {
  width: 1600px;
  background-image: url("../images/hero-bg.jpg"), linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(37, 48, 58, 0.4));
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
}
.hero .hero-title {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin: 0 auto;
  width: 696px;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.4);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  background-color: #fff;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.praise {
  padding-top: 94px;
  padding-bottom: 94px;
}
.praise .praise-list {
  display: flex;
}
.praise .praise-list .praiser-item {
  margin-right: 30px;
}
.praise .praise-list .praiser-title {
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 30px;
}
.praise .praise-list .praiser-info {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  padding-top: 10px;
}

.icon-container {
  padding: 25px 100px;
  width: 270px;
  background-color: #f5f4fa;
  height: 120px;
  border-radius: 4px;
}

.what-we-doing {
  padding-top: 94px;
  padding-bottom: 94px;
}
.what-we-doing .what-we-doing-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
  padding-bottom: 50px;
}
.what-we-doing .what-we-doing-list {
  display: flex;
  gap: 30px;
}
.what-we-doing .what-we-doing-list .what-we-are-doing-item {
  flex-basis: 370px;
  position: relative;
}
.what-we-doing .what-we-are-doing-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.what-we-doing .what-we-are-doing-container .name-photo {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.team {
  padding-top: 94px;
  background-color: #f5f4fa;
  margin-bottom: 0;
}
.team .team-list {
  display: flex;
  gap: 30px;
}
.team .team-item {
  flex-basis: calc(100% - 30px);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  margin-bottom: 94px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 270px;
  height: 428px;
}
.team .team-item .team-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
  padding-bottom: 50px;
}
.team .team-item .name {
  color: #212121;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
  padding-top: 30px;
}
.team .team-item .position {
  color: #757575;
  text-align: center;
  letter-spacing: 0.48px;
  padding-top: 10px;
  margin-bottom: 30px;
}
.team .social-media-list {
  display: flex;
  justify-content: center;
}
.team .social-media-list .social-media-item {
  margin-right: 10px;
}
.team .social-media-list .social-media-container {
  display: flex;
}
.team .social-media-list .social-media-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  transition-property: background-color, border-radius, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team .social-media-list .social-media-link:hover {
  background-color: #2196f3;
  border-radius: 50%;
}
.team .social-media-list .social-media-link:hover .social-media {
  fill: #fff;
}
.team .social-media-list .social-media {
  fill: #afb1b8;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients .clients-title {
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: #212121;
}
.clients .clients-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.clients .clients-list .clients-item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin-left: 30px;
  transition-property: border, border-radius, cursor, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients .clients-list .clients-item:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
  cursor: pointer;
}
.clients .clients-list .clients-item:hover .clients-icon {
  fill: #2196f3;
}
.clients .clients-icon {
  width: 106px;
  height: 60px;
  fill: #757575;
}
.clients .clients-link {
  margin: 16px 32px;
}

.product {
  padding-top: 94px;
}

.product__filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.product__projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
  margin-bottom: 94px;
}
.product__projects-list .product__projects-item {
  flex-basis: calc(33.3333333333% - 30px);
  border: 1px solid #eee;
  transition-property: box-shadow, cursor, overflow, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}
.product__projects-list .product__projects-item .product__projects-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
  padding-top: 20px;
  margin-left: 24px;
}
.product__projects-list .product__projects-item .product__projects-info {
  color: #757575;
  line-height: 1.87;
  letter-spacing: 0.48px;
  margin-left: 24px;
  padding-bottom: 20px;
}
.product__projects-list .product__projects-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.product__box-description {
  position: absolute;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  bottom: 0;
  width: 359px;
  height: 294px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product__projects-item:hover .product__box-description {
  transform: translateY(-35%);
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header .logo {
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
  color: #000;
}
.header .first-part-logo {
  color: #2196f3;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-item {
  height: 17px;
}

.nav-item + .nav-item {
  margin-left: 50px;
}

.nav-item:first-child {
  margin-left: 93px;
}

.nav-item:first-child::after {
  content: "";
  transition-property: content, border-radius, width, height, background, position, top, left;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:nth-child(2)::after {
  content: "";
  transition-property: content, border-radius, width, height, background, position, top, left;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:first-child:hover::after {
  content: "";
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background: #2196f3;
  position: absolute;
  top: 50px;
  left: 91px;
}

.nav-item:nth-child(2):hover::after {
  content: "";
  border-radius: 2px;
  width: 78px;
  height: 4px;
  background: #2196f3;
  position: absolute;
  top: 50px;
  left: 186px;
}

.nav-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-duration: 250ms;
}

.nav-link:focus,
.nav-link:hover {
  color: #2196f3;
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-item {
  display: flex;
  margin-left: 50px;
}

.contact-link {
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.28px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, fill;
  transition-duration: 250ms;
}

.contact-icon {
  margin-right: 10px;
}

.contact-link:focus,
.contact-link:hover {
  color: #2196f3;
  fill: #2196f3;
}

.modal-title {
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}

.modal-item {
  margin-top: 10px;
  margin-left: 40px;
}

.name-icon {
  position: absolute;
  top: 112px;
  left: 52px;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}

.modal-item {
  margin-top: 10px;
  margin-left: 40px;
}

.name-icon {
  position: absolute;
  top: 112px;
  left: 52px;
}

.tel-icon {
  position: absolute;
  top: 180px;
  left: 52px;
}

.mail-icon {
  position: absolute;
  top: 248px;
  left: 52px;
}

.form-label {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  outline: none;
  transition-property: border, border-radius, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  fill: #2196f3;
}

.form-comment {
  padding-left: 16px;
  padding-top: 12px;
  height: 138px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
}

.rules {
  display: flex;
}

.rules-text {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 8px;
}

.rules-link {
  color: #2196f3;
}

.send-btn {
  background: #2196f3;
  color: #fff;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border: none;
  border-radius: 4px;
  padding: 10px 52px;
  margin: 0 auto;
  margin-top: 30px;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow, background;
  transition-duration: 250ms;
}

.send-btn:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #188ce8;
}

.rossete-form {
  margin-top: 20px;
}

.rossete-input {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  padding-left: 16px;
}

.footer {
  display: flex;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .footer-social-media {
  display: flex;
}
.footer .logo-footer {
  color: #fff;
}
.footer .logo-footer:visited {
  color: #fff;
}
.footer .address {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.footer .address .footer-contact {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration: none;
}
.footer .address .footer-contact:first-child {
  color: #fff;
}
.footer .social-media-footer {
  margin-left: 10px;
}
.footer .social-media-footer .sm-title {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.footer .social-media-footer .sm-list {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  margin-left: 70px;
}
.footer .social-media-footer .sm-item {
  margin-right: 10px;
  transition-property: background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .social-media-footer .sm-item:hover {
  background-color: #2196f3;
  border-radius: 50%;
}
.footer .social-media-footer .sm-link {
  height: 44px;
  width: 44px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
}
.footer .social-media-footer .sm-icon {
  fill: #fff;
}
.footer .rosette {
  margin-left: 93px;
}
.footer .rosette .rosette-title {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.footer .rosette .rosette-icon {
  position: relative;
  left: 537px;
  bottom: 38px;
}/*# sourceMappingURL=main.css.map */