:root {
  --acceent-color: #2196f3;
  --main-color: #212121;
  --add-color: #757575;
  --bg-cololr: #2f303a;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto";
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container-position {
  display: flex;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  /* border-bottom: 1px solid #ecececec;
  width: 1600px;
  height: 0px; */
}
.logo {
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
  color: #000;
}
.first-part-logo {
  color: var(--acceent-color);
  font-weight: 700;
  letter-spacing: 0.78px;
}
.nav {
  display: flex;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.nav-item {
  height: 17px;
}
.nav-item + .nav-item {
  margin-left: 50px;
}
.nav-item:first-child {
  margin-left: 93px;
}
.nav-item:first-child::after {
  content: "";
  transition-property: content, border-radius, width, height, background,
    position, top, left;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item:nth-child(2)::after {
  content: "";
  transition-property: content, border-radius, width, height, background,
    position, top, left;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item:first-child:hover::after {
  content: "";
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background: #2196f3;
  position: absolute;
  top: 50px;
  left: 91px;
}
.nav-item:nth-child(2):hover::after {
  content: "";
  border-radius: 2px;
  width: 78px;
  height: 4px;
  background: #2196f3;
  position: absolute;
  top: 50px;
  left: 186px;
}
.nav-link {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;

  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-duration: 250ms;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--acceent-color);
}
.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-item {
  display: flex;
  margin-left: 50px;
}
.contact-link {
  color: var(--add-color);
  font-size: 14px;
  letter-spacing: 0.28px;
  margin-left: 10px;
  display: flex;
  align-items: center;

  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, fill;
  transition-duration: 250ms;
}
.contact-link:focus,
.contact-link:hover {
  color: var(--acceent-color);
  fill: var(--acceent-color);
}
.contact-icon {
  margin-right: 10px;
}
.hero {
  width: 1600px;
  background: no-repeat;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(37, 48, 58, 0.4)
    ),
    url("../images/hero-bg.jpg");
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin: 0 auto;
  width: 696px;
}
.hero-btn {
  background: var(--acceent-color);
  color: #fff;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #2f303a66;
  z-index: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  background-color: #fff;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.modal-btn {
  position: relative;
  left: 490px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  background-color: transparent;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.modal-title {
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-color);
}
.modal-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}
.modal-item {
  margin-top: 10px;
  margin-left: 40px;
}
.name-icon {
  position: absolute;
  top: 112px;
  left: 52px;
}
.tel-icon {
  position: absolute;
  top: 180px;
  left: 52px;
}
.mail-icon {
  position: absolute;
  top: 248px;
  left: 52px;
}
.form-label {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--add-color);
}
.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  outline: none;

  transition-property: border, border-radius, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border: 1px solid var(--acceent-color);
  border-radius: 4px;
  fill: var(--acceent-color);
}
.form-comment {
  padding-left: 16px;
  padding-top: 12px;
  height: 138px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
}
.rules {
  display: flex;
}
.rules-text {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--add-color);
  margin-left: 8px;
}
.rules-link {
  color: var(--acceent-color);
}
.send-btn {
  background: var(--acceent-color);
  color: #fff;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border: none;
  border-radius: 4px;
  padding: 10px 52px;
  margin: 0 auto;
  margin-top: 30px;

  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow, background;
  transition-duration: 250ms;
}
.send-btn:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #188ce8;
}
.praise {
  padding-top: 94px;
  padding-bottom: 94px;
}
.praise-list {
  display: flex;
}
.praiser-item {
  margin-right: 30px;
}
.icon-container {
  padding: 25px 100px;
  width: 270px;
  background-color: #f5f4fa;
  height: 120px;
  border-radius: 4px;
}
.praiser-title {
  color: var(--main-color);
  font-size: 14px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 30px;
}
.praiser-info {
  color: var(--add-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  padding-top: 10px;
}
.what-we-doing {
  padding-top: 94px;
  padding-bottom: 94px;
}
.what-we-doing-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
  padding-bottom: 50px;
}
.what-we-doing-list {
  display: flex;
  gap: 30px;
}
.what-we-are-doing-item {
  flex-basis: 370px;
  position: relative;
}
.what-we-are-doing-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name-photo {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.team {
  padding-top: 94px;
  background-color: #f5f4fa;
  margin-bottom: 0;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-item {
  flex-basis: calc(100% / 1 - 30px);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  margin-bottom: 94px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 270px;
  height: 428px;
}
.team-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
  padding-bottom: 50px;
}
.name {
  color: var(--main-color);
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
  padding-top: 30px;
}
.position {
  color: var(--add-color);
  text-align: center;
  letter-spacing: 0.48px;
  padding-top: 10px;
  margin-bottom: 30px;
}
.social-media-list {
  display: flex;
  justify-content: center;
}
.social-media-item {
  margin-right: 10px;
}
.social-media-container {
  display: flex;
}
.social-media-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;

  transition-property: background-color, border-radius, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover {
  background-color: var(--acceent-color);
  border-radius: 50%;
}
.social-media-link:hover .social-media {
  fill: #fff;
}
.social-media {
  fill: #afb1b8;
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.clients-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.clients-item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin-left: 30px;

  transition-property: border, border-radius, cursor, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item:hover {
  border: 1px solid var(--acceent-color);
  border-radius: 4px;
  cursor: pointer;
}
.clients-icon {
  width: 106px;
  height: 60px;
  fill: var(--add-color);
}
.clients-item:hover .clients-icon {
  fill: var(--acceent-color);
}
.clients-link {
  margin: 16px 32px;
}
.footer {
  display: flex;
  background-color: var(--bg-cololr);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-social-media {
  display: flex;
}
.logo-footer {
  color: #fff;
}
.logo-footer:visited {
  color: #fff;
}
.address {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.footer-contact {
  color: var(--add-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration: none;
}
.footer-contact:first-child {
  color: #fff;
}
.social-media-footer {
  margin-left: 10px;
}
.sm-title {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.sm-list {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  margin-left: 70px;
}
.sm-item {
  margin-right: 10px;

  transition-property: background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sm-item:hover {
  background-color: var(--acceent-color);
  border-radius: 50%;
}
.sm-link {
  height: 44px;
  width: 44px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
}
.sm-icon {
  fill: #fff;
}
.rosette {
  margin-left: 93px;
}
.rosette-title {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
}
.rossete-form {
  margin-top: 20px;
}
.rossete-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  padding-left: 16px;
}
.rossete-btn {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  background: var(--acceent-color);
  border: none;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  margin-left: 12px;
  /* position: absolute; */
}
.rosette-icon {
  position: relative;
  left: 537px;
  bottom: 38px;
}
.product {
  padding-top: 94px;
}
.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.filter-btn {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border: none;
  background-color: #f5f4fa;
  padding: 6px 25px;

  transition-property: cusror, color, background, border-radius, border-style,
    padding;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover {
  border-radius: 4px;
  padding: 6px 25px;
  border-style: none;
  background: var(--acceent-color);
  color: #fff;
  cursor: pointer;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 94px;
}
.projects-item {
  flex-basis: calc(100% / 3 - 30px);
  border: 1px solid #eee;

  transition-property: box-shadow, cursor, overflow, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.projects-img {
  align-items: baseline;
}
.projects-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
  padding-top: 20px;
  margin-left: 24px;
}
.projects-info {
  color: #757575;
  line-height: 1.87;
  letter-spacing: 0.48px;
  margin-left: 24px;
  padding-bottom: 20px;
}
.box {
  position: relative;
  overflow: hidden;
}
.box-description {
  position: absolute;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  bottom: 0;
  width: 359px;
  height: 284px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  transform: translateY(100%);
}
.projects-item:hover .box, .box-description{
  overflow: visible;
  transform: translateY(0);  
}
