.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  .contact-item {
    display: flex;
    margin-left: 50px;
  }
  .contact-link {
    color: $add-color;
    font-size: 14px;
    letter-spacing: 0.28px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    @extend %transtion;
    &:focus,
    &:hover {
      color: $accent-color;
      fill: $accent-color;
    }
  }
  .contact-icon {
    margin-right: 10px;
  }
}
