.contact-list {
  @include display(flex, center);
  margin-left: auto;
  .contact-item {
    display: flex;
    margin-left: 50px;
  }
  .contact-link {
    @include cl-txt($add-color, 14px, 0.28px);
    @include display (flex, center);
    @extend %transtion;
    margin-left: 10px;
    &:focus,
    &:hover {
      color: $accent-color;
      fill: $accent-color;
    }
  }
  .contact-icon {
    margin-right: 10px;
  }
}
