@media screen and (min-width: 480px) {
  .footer {
    @include paddings(60px, 60px);
    background-color: $bg-color;
    .logo {
      font-family: Raleway;
      @include cl-txt(#fff, 26px, 0.78px);
      display: flex;
      justify-content: center;
    }
    .first-part-logo {
      color: $accent-color;
    }
    .address {
      margin: 0 auto;
      text-align: center;
      width: 232px;
      height: 79px;
      margin-top: 20px;
      .footer-contact {
        font-style: normal;
        @include cl-txt($add-color, 14px, 0.42px);

        &:first-child {
          line-height: 1.71;
          color: #fff;
        }
      }
    }
    .sm-title {
      font-size: 14px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
    }
    .sm-list {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 60px;
      .sm-item {
        margin-right: 10px;
        background: rgba(255, 255, 255, 0.1);
        @include wh(44px, 44px);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        .sm-icon {
          fill: #fff;
        }
      }
    }

    .rosette-title {
      font-size: 14px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
    }
  }
}
@media screen and (min-width: 768px) {
  .footer-social-media {
    display: flex;
    .footer-info {
      margin-right: 165px;
    }
  }
  .sm-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    .footer-container {
      position: relative;
    }
    display: flex;
    background-color: $bg-color;
    @include paddings(60px, 60px);
    .footer-social-media {
      display: flex;
      .footer-info {
        margin-right: 0;
      }
    }
    .logo {
      font-family: Raleway;
      @include cl-txt(#fff, 26px, 0.78px);
      display: block;
    }
    .first-part-logo {
      color: $accent-color;
    }
    .address {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      .footer-contact {
        @include cl-txt($add-color, 14px, 0.42px);
        font-style: normal;
        line-height: 1.71;
        text-decoration: none;
        &:first-child {
          color: #fff;
        }
        &:last-child {
          margin-top: -18px;
        }
      }
    }
    .social-media-footer {
      margin-left: 70px;
      .sm-title {
        @include cl-txt(#fff, 14px, 0.03px);
        text-transform: uppercase;
        text-align: center;
      }
      .sm-list {
        display: flex;
        margin-top: 20px;
        justify-content: center;
        margin-left: 70px;
        .sm-link {
          @include display(flex, center);
          @include wh(44px, 44px);
          justify-content: center;

          transition-property: background-color, border-radius, cursor, fill;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          &:hover {
            background-color: $accent-color;
            border-radius: 50%;
            cursor: pointer;
          }
          &:hover .sm-icon {
            fill: #fff;
          }
        }
      }
    }
    .rosette {
      position: absolute;
      top: 0;
      left: 604px;
      margin-left: 93px;
      margin-top: 0;
      .rosette-title {
        @include cl-txt(#fff, 14px, 0.03px);
        text-transform: uppercase;
        padding-right: 62px;
        display: flex;
      }
    }
  }
}
