.modal-title {
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $main-color;
}
.modal-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  .modal-item {
    margin-top: 10px;
    margin-left: 40px;
    .name-icon {
      @include located-ob(absolute, 112px, 52px);
    }
    .tel-icon {
      @include located-ob(absolute, 180px, 52px);
    }
    .mail-icon {
      @include located-ob(absolute, 248px, 52px);
    }
    .form-label {
      @include cl-txt ($add-color, 12px, 0.01em);
    }
    .form-input {
      @extend %input-form;
      @extend %transtion;
      &:focus {
        @extend %focus-form;
      }
    }
  }
  .form-comment {
    @extend %input-form;
    @extend %transtion;
    @include cl-txt (rgba(117, 117, 117, 0.5), 12px, 0.01em);
    padding-left: 16px;
    padding-top: 12px;
    height: 138px;
    resize: none;
    &:focus {
      @extend %focus-form;
      color: black;
    }
  }
}
.rules {
  display: flex;
  .rules-text {
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: $add-color;
    margin-left: 8px;
  }
  .rules-link {
    color: $accent-color;
  }
}
.rossete-form {
  margin-top: 20px;
  .rossete-input {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    background-color: transparent;
    padding-left: 16px;
  }
}
