.modal-title {
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $main-color;
}
.modal-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  .modal-item {
    margin-top: 10px;
    margin-left: 40px;
    .name-icon {
      position: absolute;
      top: 112px;
      left: 52px;
    }
    .tel-icon {
      position: absolute;
      top: 180px;
      left: 52px;
    }
    .mail-icon {
      position: absolute;
      top: 248px;
      left: 52px;
    }
    .form-label {
      font-size: 12px;
      letter-spacing: 0.01em;
      color: $add-color;
    }
    .form-input {
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      width: 448px;
      height: 40px;
      padding-left: 42px;
      outline: none;

      transition-property: border, border-radius, fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:focus {
        border: 1px solid $accent-color;
        border-radius: 4px;
        fill: $accent-color;
      }
    }
  }
  .form-comment {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 40px;
    padding-left: 42px;
    outline: none;
    padding-left: 16px;
    padding-top: 12px;
    height: 138px;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    resize: none;
    transition-property: border, border-radius, fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      border: 1px solid $accent-color;
      border-radius: 4px;
      fill: $accent-color;
      color: black;
    }
  }
}
.rules {
  display: flex;
  .rules-text {
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: $add-color;
    margin-left: 8px;
  }
  .rules-link {
    color: $accent-color;
  }
}
.rossete-form {
  margin-top: 20px;
  .rossete-input {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    background-color: transparent;
    padding-left: 16px;
  }
}
