.header {
  @include paddings(24px, 24px);
  .logo {
    font-family: Raleway;
    @include cl-txt(#000, 26px, 0.78px);
  }
  .first-part-logo {
    color: $accent-color;
    font-weight: 700;
    letter-spacing: 0.78px;
  }
}