.main__hero-btn {
  @extend %btn;
  padding: 10px 32px;
  display: flex;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.modal-btn {
  @include wh(30px, 30px);
  @include display (flex, center);
  @include border(1px solid rgba(0, 0, 0, 0.1), 100px);
  position: relative;
  left: 490px;
  background-color: transparent;
  margin-top: 8px;
}
.send-btn {
  @extend %btn;
  padding: 10px 52px;
  @extend %transtion;
  &:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #188ce8;
  }
}
@media screen and (min-width: 480px) {
  .rossete-btn {
    @include border(none, 4px);
    @include wh(200px, 50px);
    background: $accent-color;
    line-height: 187%;
    letter-spacing: 0.06em;
    color: #fff;
    margin-left: 140px;
    padding-right: 28px;
    margin-top: 20px;
    
  }
}
.product__filter-btn {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border: none;
  background-color: #f5f4fa;
  padding: 6px 25px;
  @extend %transtion;
  &:hover {
    @include border(none, 4px);
    padding: 6px 25px;
    background: $accent-color;
    color: #fff;
    cursor: pointer;
  }
}
