.hero-btn {
  background: var(--acceent-color);
  color: #fff;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.modal-btn {
  position: relative;
  left: 490px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  background-color: transparent;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.send-btn {
  background: var(--acceent-color);
  color: #fff;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border: none;
  border-radius: 4px;
  padding: 10px 52px;
  margin: 0 auto;
  margin-top: 30px;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow, background;
  transition-duration: 250ms;
}
.send-btn:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #188ce8;
}
.rossete-btn {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  background: var(--acceent-color);
  border: none;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  margin-left: 12px;
}
.filter-btn {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border: none;
  background-color: #f5f4fa;
  padding: 6px 25px;
  transition-property: cusror, color, background, border-radius, border-style, padding;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover {
  border-radius: 4px;
  padding: 6px 25px;
  border-style: none;
  background: var(--acceent-color);
  color: #fff;
  cursor: pointer;
}