@media screen and (min-width: 480px) {
  .menu-container {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    padding: 0 15px;
    margin: 0 auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 4px 0 rgba(0, 0, 0, 0.08),
      0 4px 8px 0 rgba(0, 0, 0, 0.04);
    background: #fff;
    transform: translate(500px);
  
    transition: transform 250ms ease-in-out;
  }
  .menu-container.is-open {
    transform: translateX(0);
  }
}

.strength__icon-container {
  padding: 25px 190px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .container-position {
    display: none;
  }
  .container-mb {
    width: 480px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) {
  .header-btn {
    display: none;
  }
  .container-position {
    display: flex;
  }
  .container-mb {
    width: 770px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .header-btn {
    display: none;
  }
  .container-position {
    display: flex;
  }
  .container-mb {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
