.container-position {
  display: flex;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.strength__icon-container {
  padding: 25px 190px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.container-mb {
  width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}
