@mixin display($flex, $items) {
  display: $flex;
  align-items: $items;
}
@mixin nav-item($wh, $ht, $lt) {
  width: $wh;
  height: $ht;
  left: $lt;
}
@mixin pos($positon, $left, $top, $bg) {
  position: $positon;
  top: $top;
  left: $left;
  background-color: $bg;
}
@mixin located-ob($pos, $top, $left) {
    position: $pos;
    top: $top;
    left: $left;
}
@mixin cl-txt($color, $fz, $ls) {
    color: $color;
    font-size: $fz;
    letter-spacing: $ls;
}
@mixin paddings($pt, $pb) {
    padding-top: $pt;
    padding-bottom: $pb;
}
@mixin border($border, $border-r) {
  border: $border;
  border-radius: $border-r;
}
@mixin wh($width, $height) {
  width: $width;
  height: $height;
}