.hero {
  width: 1600px;
  background-image: url("../images/hero-bg.jpg"),
    linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(37, 48, 58, 0.4));
  background-repeat: no-repeat;
  @include paddings(200px, 200px);
  margin: 0 auto;
  .main__hero-title {
    @include cl-txt (#fff, 44px, 2.64px);
    text-align: center;
    font-weight: 900;
    line-height: 1.36;
    text-transform: uppercase;
    margin: 0 auto;
    width: 696px;
  }
}
.backdrop {
  @include pos(fixed, 0, 0, #2f303a66);
  right: 0;
  bottom: 0;
  z-index: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  @include pos(absolute, 50%, 50%, #fff);
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
}
.praise {
  @include paddings(94px, 94px);
  .strength__praise-list {
    display: flex;
    .strength__praiser-item {
      margin-right: 30px;
    }
    .strength__praiser-title {
      @include cl-txt($main-color, 14px, 0.42px);
      text-transform: uppercase;
      margin-top: 30px;
    }
    .strength__praiser-info {
      @include cl-txt($add-color, 14px, 0.42px);
      line-height: 1.71;
      padding-top: 10px;
    }
  }
}

.what-we-doing {
  @include paddings(94px, 94px);
  .job__what-we-doing-title {
    @include cl-txt($main-color, 36px, 1.08px);
    text-align: center;
    padding-bottom: 50px;
  }

  .job__what-we-doing-list {
    display: flex;
    gap: 30px;
    .job__what-we-are-doing-item {
      flex-basis: 370px;
      position: relative;
    }
  }
  .job__name-photo {
    @include pos(absolute, 0, 76.7%, rgba(47, 48, 58, 0.8));
    @include cl-txt(#fff, 14px, 0.03em);
    @include display(flex, center);
    right: 0;
    width: 370px;
    height: 70px;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
  }
}
.team {
  padding-top: 94px;
  background-color: #f5f4fa;
  .staff__team-title {
    @include cl-txt($main-color, 36px, 1.08px);
    text-align: center;
    padding-bottom: 50px;
  }
  .staff__team-list {
    display: flex;
    gap: 30px;
  }
  .staff__team-item {
    flex-basis: calc(100% / 1 - 30px);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    margin-bottom: 94px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 270px;
    height: 428px;

    .staff__name {
      @include cl-txt($main-color, 16px, 0.48px);
      text-align: center;
      padding-top: 30px;
    }
    .staff__position {
      color: $add-color;
      text-align: center;
      letter-spacing: 0.48px;
      padding-top: 10px;
      margin-bottom: 30px;
    }
  }
  .staff__social-media-list {
    display: flex;
    justify-content: center;
    .staff__social-media-item {
      margin-right: 10px;
    }
    .staff__social-media-container {
      display: flex;
    }
    .staff__social-media-link {
      @include display(flex, center);
      width: 44px;
      height: 44px;
      justify-content: center;

      @extend %transtion;
      &:hover {
        background-color: $accent-color;
        border-radius: 50%;
      }
      &:hover .social-media {
        fill: #fff;
      }
    }
    .social-media {
      fill: #afb1b8;
    }
  }
}
.clients {
  @include paddings(94px, 94px);
  .logo__clients-title {
    text-align: center;
    @include cl-txt($main-color, 36px, 0.03em);
  }
  .logo__clients-list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    .logo__clients-item {
      border: 1px solid #afb1b8;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      margin-left: 30px;

      @extend %transtion;
      &:hover {
        border: 1px solid $accent-color;
        border-radius: 4px;
        cursor: pointer;
      }
      &:hover .logo__clients-icon {
        fill: $accent-color;
      }
    }
  }
  .logo__clients-icon {
    width: 106px;
    height: 60px;
    fill: $add-color;
  }
  .logo__clients-link {
    margin: 16px 32px;
  }
}
