@media screen and (min-width: 480px) {
  .hero {
    width: 480px;
    height: 400px;
    @include paddings(118px, 200px);
    background-image: url("../images/header-mobile.jpg"),
      linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(37, 48, 58, 0.4));
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 10px;
    .main__hero-title {
      font-weight: 900;
      font-size: 26px;
      line-height: 162%;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
    }
  }
  .praise {
    @include paddings(60px, 60px);
    .strength__praiser-item {
      margin-left: 15px;
      .strength__praiser-title {
        @include cl-txt($main-color, 14px, 0.42px);
        text-transform: uppercase;
        margin-top: 30px;
        text-align: center;
      }
      .strength__praiser-info {
        @include cl-txt($add-color, 14px, 0.42px);
        line-height: 1.71;
        margin-top: 10px;
      }
    }
    .strength__praiser-item:not(:first-child) {
      margin-top: 30px;
    }
  }
  .what-we-doing {
    display: none;
  }
  .team {
    @include paddings(60px, 60px);
    background-color: #f5f4fa;
    .staff__team-title {
      font-size: 28px;
      letter-spacing: 0.03em;
      text-align: center;
      color: $main-color;
      margin-bottom: 30px;
    }
    .staff__team-item {
      width: 450px;
      height: 622px;
      background-color: #fff;
      margin-bottom: 94px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      .employee {
        height: 460px;
      }
      .staff__name {
        font-weight: 500;
        @include cl-txt($main-color, 16px, 0.03em);
        text-align: center;
        margin-top: 30px;
      }
      .staff__position {
        @include cl-txt($add-color, 16px, 0.03em);
        text-align: center;
        margin-top: 10px;
      }
      .staff__social-media-list {
        display: flex;
        justify-content: center;
        margin-top: 16px;
        padding-bottom: 24px;
        .staff__social-media-item {
          margin-right: 10px;
          .staff__social-media-link {
            @include display(flex, center);
            justify-content: center;
            width: 44px;
            height: 44px;
            justify-content: center;
            transition-property: background-color, border-radius, fill;
            transition: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 250ms;
            &:hover {
              background-color: $accent-color;
              border-radius: 50%;
            }
            &:hover .social-media {
              fill: #fff;
            }
          }
          .social-media {
            fill: #afb1b8;
          }
        }
        .facebook {
          height: 20px;
        }
      }
    }
  }
  .clients {
    @include paddings(60px, 60px);
    .logo__clients-title {
      @include cl-txt($main-color, 28px, 0.03em);
      text-align: center;
    }
    .logo__clients-list {
      display: flex;
      flex-wrap: wrap;
      .logo__clients-item {
        border: 1px solid #afb1b8;
        border-radius: 4px;
        width: 210px;
        height: 92px;
        display: flex;
        justify-content: center;
        flex-basis: calc((100% - 1 * 30px) / 2);
        margin-top: 30px;

        transition-property: border, border-radius, fill, cursor;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
        &:hover {
          @include border(1px solid $accent-color, 4px);
          cursor: pointer;
        }
        &:hover .logo__clients-icon {
          fill: $accent-color;
          transition-property: fill;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 250ms;
        }
        &:nth-child(odd) {
          margin-right: 30px;
        }
        .logo__clients-link {
          margin-top: 16px;
        }
        .logo__clients-icon {
          height: 60px;
          fill: #afb1b8;
        }
      }
    }
  }
  .backdrop {
    @include pos(fixed, 0, 0, #2f303a66);
    right: 0;
    bottom: 0;
    z-index: 1;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 3px 0 rgba(0, 0, 0, 0.12);
    .modal {
      border-radius: 4px;
      @include paddings(40px, 40px);
      @include pos(absolute, 50%, 50%, #fff);
      width: 450px;
      height: 609px;
      transform: translate(-50%, -50%);
      .modal-title {
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.03em;
        text-align: center;
        color: $main-color;
        width: 370px;
        margin: 0 auto;
        margin-bottom: 12px;
      }
    }
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    @include paddings(118px, 118px);
    width: 768px;
    height: 400px;
    background: url("../images/bg-tablet.jpg"),
      linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(37, 48, 58, 0.4)),
      no-repeat;
    .main__hero-title {
      width: 360px;
      margin: 0 auto;
      margin-top: 0;
    }
  }
  .praise {
    @include paddings(60px, 60px);

    .strength__praise-list {
      display: flex;
      flex-wrap: wrap;
      .strength__praiser-item {
        flex-basis: calc((100% - 1 * 30px) / 2);
        margin-top: 0;
        .strength__icon-container {
          width: 354px;
          height: 120px;
          padding: 25px 142px;
        }
        .strength__praiser-title {
          text-align: start;
        }
        .strength__praiser-info {
          margin-bottom: 30px;
        }
      }
    }
  }
  .what-we-doing {
    display: none;
  }
  .team {
    .staff__team-list {
      display: flex;
      flex-wrap: wrap;
      .staff__team-item {
        .employee {
          height: auto;
        }
        height: auto;
        flex-basis: calc((100% - 1 * 30px) / 2);
        &:nth-child(even) {
          margin-left: 30px;
        }
      }
    }
  }
  .clients {
    .logo__clients-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .logo__clients-item {
        width: 226px;
        height: 92px;
        flex-basis: calc((100% - 2 * 30px) / 3);
        &:nth-child(odd) {
          margin-right: 0;
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    @include paddings(200px, 200px);
    width: 1600px;
    height: 600px;
    margin-top: 0;
    background: url("../images/hero-bg.jpg"),
      linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(37, 48, 58, 0.4)),
      no-repeat;
    .main__hero-title {
      font-size: 44px;
      line-height: 1.36;
      width: 696px;
      height: 120px;
    }
  }
  .praise {
    @include paddings(94px, 94px);
    .strength__praise-list {
      display: flex;
      flex-wrap: nowrap;
      .strength__praiser-item {
        margin-right: 30px;
        .strength__icon-container {
          width: 270px;
          height: 120px;
          padding: 25px 100px;
        }
      }
    }
  }
  .what-we-doing {
    display: block;
    .container-mb {
      width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
    }
    @include paddings(94px, 94px);
    .job__what-we-doing-title {
      @include cl-txt($main-color, 36px, 1.08px);
      text-align: center;
      padding-bottom: 50px;
    }

    .job__what-we-doing-list {
      display: flex;
      gap: 30px;
      .job__what-we-are-doing-item {
        position: relative;
      }
    }
    .job__name-photo {
      @include pos(absolute, 0, 76.7%, rgba(47, 48, 58, 0.8));
      @include cl-txt(#fff, 14px, 0.03em);
      @include display(flex, center);
      @include wh(370px, 70px);
      right: 0;
      justify-content: center;
      text-transform: uppercase;
      text-align: center;
    }
  }
  .team {
    padding-top: 94px;
    background-color: #f5f4fa;
    .staff__team-title {
      font-size: 36px;
      padding-bottom: 50px;
    }
    .staff__team-list {
      gap: 30px;
      flex-wrap: nowrap;
    }
    .staff__social-media-list {
      display: flex;
      justify-content: center;
      .staff__social-media-item {
        margin-right: 10px;
      }
    }
  }
  .clients {
    @include paddings(94px, 94px);
    .logo__clients-title {
      font-size: 36px;
    }
    .logo__clients-list {
      justify-content: center;
      margin-top: 50px;
      flex-wrap: nowrap;
      .logo__clients-item {
        margin-right: 30px;
        &:nth-child(odd) {
          margin-right: 30px;
        }
      }
    }
    .logo__clients-icon {
      @include wh(106px, 60px);
    }
  }
  .backdrop {
    .modal {
      width: 528px;
      height: 581px;
      .modal-title {
        width: 448px;
      }
    }
  }
}
