.product {
  padding-top: 94px;
}
.product__filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.product__projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
  margin-bottom: 94px;

  .product__projects-item {
    flex-basis: calc(100% / 3 - 30px);
    border: 1px solid #eee;
    overflow: hidden;
    @extend %transtion;
    .product__projects-title {
      font-size: 18px;
      line-height: 2;
      letter-spacing: 1.08px;
      padding-top: 20px;
      margin-left: 24px;
    }
    .product__projects-info {
      color: $add-color;
      line-height: 1.87;
      letter-spacing: 0.48px;
      margin-left: 24px;
      padding-bottom: 20px;
    }
    &:hover {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
      cursor: pointer;
    }
    &:hover .product__box-hover .product__box-description {
      transform: translateY(0%);
    }
  }
}

.product__box-hover {
  height: 284px;
  position: relative;
  overflow: hidden;
}

.product__box-description {
  @include display (flex, center);
  @include cl-txt (#fff, 18px, 0.03em);
  @extend %transtion;
  position: absolute;
  line-height: 156%;
  background-color: rgba(33, 150, 243, 0.9);
  bottom: 0;
  width: 359px;
  height: 294px;
  padding-left: 24px;
  transform: translateY(100%);
}
