.product {
  padding-top: 94px;
}
.product__filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.product__projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
  margin-bottom: 94px;

  .product__projects-item {
    flex-basis: calc(100% / 3 - 30px);
    border: 1px solid #eee;
    transition-property: box-shadow, cursor, overflow, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
    .product__projects-title {
      font-size: 18px;
      line-height: 2;
      letter-spacing: 1.08px;
      padding-top: 20px;
      margin-left: 24px;
    }
    .product__projects-info {
      color: $add-color;
      line-height: 1.87;
      letter-spacing: 0.48px;
      margin-left: 24px;
      padding-bottom: 20px;
    }
  }
  .product__projects-item:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
}

.product__box-description {
  position: absolute;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  bottom: 0;
  width: 359px;
  height: 294px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product__projects-item:hover .product__box-description {
  transform: translateY(-35%);
}
