.product {
  @include paddings(60px, 60px);
  .product__filter-list {
    display: flex;
    flex-wrap: wrap;
    width: 347px;

    .product__filter-item {
      margin-right: 8px;
      margin-top: 15px;
    }
  }
  .product__projects-list {
    margin-top: 40px;
    .product__projects-item {
      border: 1px solid #eee;
      width: 450px;
      height: 404px;
      margin-top: 30px;
      transition-property: box-shadow, cursor;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover {
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
          0px 4px 4px 0px rgba(0, 0, 0, 0.06),
          0px 1px 1px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
      }
      &:hover .product__box-hover .product__box-description {
        transform: translateY(0);
      }
      .projects-img {
        width: 450px;
      }
      .product__projects-title {
        font-size: 18px;
        line-height: 200%;
        letter-spacing: 0.06em;
        color: $main-color;
        margin-left: 24px;
        margin-top: 20px;
      }
      .product__projects-info {
        line-height: 1.87;
        letter-spacing: 0.03em;
        color: $add-color;
        margin-top: 4px;
        margin-left: 24px;
      }

      .product__box-hover {
        height: 284px;
        position: relative;
        overflow: hidden;
      }
      .text {
        @include cl-txt(#fff, 18px, 0.03em);
        line-height: 156%;
        width: 402px;
        height: 140px;
        padding-left: 24px;
      }
      .product__box-description {
        @include display(flex, center);
        transition: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        position: absolute;
        background-color: rgba(33, 150, 243, 0.9);
        bottom: 0;
        width: 450px;
        height: 294px;
        transform: translateY(100%);
      }
    }
  }
}
@media screen and (min-width: 480px) {
  .product {
    @include paddings(60px, 60px);
    .product__filter-list {
      display: flex;
      flex-wrap: wrap;
      width: 347px;

      .product__filter-item {
        margin-right: 8px;
        margin-top: 15px;
      }
    }
    .product__projects-list {
      margin-top: 40px;
      .product__projects-item {
        border: 1px solid #eee;
        width: 450px;
        height: 404px;
        margin-top: 30px;
        transition-property: box-shadow, cursor;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
            0px 4px 4px 0px rgba(0, 0, 0, 0.06),
            0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          cursor: pointer;
        }
        &:hover .product__box-hover .product__box-description {
          transform: translateY(0);
        }
        .projects-img {
          width: 450px;
        }
        .product__projects-title {
          font-size: 18px;
          line-height: 200%;
          letter-spacing: 0.06em;
          color: $main-color;
          margin-left: 24px;
          margin-top: 20px;
        }
        .product__projects-info {
          line-height: 1.87;
          letter-spacing: 0.03em;
          color: $add-color;
          margin-top: 4px;
          margin-left: 24px;
        }

        .product__box-hover {
          height: 284px;
          position: relative;
          overflow: hidden;
        }
        .text {
          @include cl-txt(#fff, 18px, 0.03em);
          line-height: 156%;
          width: 402px;
          height: 140px;
          padding-left: 24px;
        }
        .product__box-description {
          @include display(flex, center);
          transition: transform;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          position: absolute;
          background-color: rgba(33, 150, 243, 0.9);
          bottom: 0;
          width: 450px;
          height: 294px;
          transform: translateY(100%);
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .product {
    @include paddings(60px, 60px);
    .product__filter-list {
      width: 610px;
      margin: 0 auto;
      .product__filter-item {
        margin-top: 0;
      }
    }
    .product__projects-list {
      display: flex;
      flex-wrap: wrap;
      .product__projects-item {
      
        flex-basis: calc(100% / 2 - 30px);
        &:nth-child(even) {
          margin-left: 30px;
        }
        .product__box-hover {
          height: 270px;
        }
        .product__box-description {
          width: 354px;
          height: 294px;
          .text {
            font-weight: 400;
            width: 306px;
            height: 168px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .product {
    padding-top: 94px;
    .product__projects-list {
      gap: 30px;
      margin-bottom: 94px;
      .product__projects-item {
        flex-basis: calc((100% - 2 * 30px) / 3);
        &:nth-child(even) {
          margin-left: 0;
        }
        height: 404px;
        .product__box-description {
          .text {
            width: 322px;
            height: 168px;
          }
          width: 100%;
        }
      }
    }
  }
}
