.product {
  padding-top: 94px;
}
.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.filter-btn {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border: none;
  background-color: #f5f4fa;
  padding: 6px 25px;

  transition-property: cusror, color, background, border-radius, border-style,
    padding;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover {
  border-radius: 4px;
  padding: 6px 25px;
  border-style: none;
  background: var(--acceent-color);
  color: #fff;
  cursor: pointer;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 94px;
}
.projects-item {
  flex-basis: calc(100% / 3 - 30px);
  border: 1px solid #eee;

  transition-property: box-shadow, cursor, overflow, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.projects-img {
  align-items: baseline;
}
.projects-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
  padding-top: 20px;
  margin-left: 24px;
}
.projects-info {
  color: #757575;
  line-height: 1.87;
  letter-spacing: 0.48px;
  margin-left: 24px;
  padding-bottom: 20px;
}
.box {
  position: relative;
  overflow: hidden;
}
.box-description {
  position: absolute;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  bottom: 0;
  width: 359px;
  height: 284px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  transform: translateY(100%);
}
.projects-item:hover .box,
.box-description {
  overflow: visible;
  transform: translateY(0);
}
